<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= genre.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= genre.name %> </h1>
    <br>
    <p>NAME: <%= genre.name %> </p>
    <p>RANKIG: <%= genre.ranking %> </p>
    <p>MOVIES: <% if (genre.peliculas.length!=0) { %>
        <% genre.peliculas.forEach(pelicula => { %>
         <a href="/movies/detail/<%= pelicula.id %>"><li><%=pelicula.title %></li></a>
       
        <% }) %>
        <% } else { %>
         Sin peliculas agregadas
       <% } %>  </p>

       <br>   
       <section>
           <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
           <!-- <a href="/movies/edit/<%# movie.id %>" class="botonModificar">Modificar</a>
           <a href="/movies/delete/<%# movie.id %>" class="botonBorrar">Borrar</a> -->
           <a href="/genres" class="botonVolver">Volver</a>
           
       </section>

</body>
</html>