<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section>
        <form action="/movies/create" method="POST" class="formulario">
            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value="<%= locals.old && old.title ? old.title : null %>"></p>
            <!-- required -->
            <small style="color: red; width: 100%; background-color: aliceblue">
                <%= locals.errors && errors.title ? errors.title.msg : null %>
            </small> <br>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= locals.old && old.rating ? old.rating : null %>">
            </p><!-- required -->
            <small style="color: red; width: 100%;background-color: aliceblue;">
                <%= locals.errors && errors.rating ? errors.rating.msg : null %>
            </small> <br>
            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" value="<%= locals.old && old.awards ? old.awards : null %>"></p>
            <!-- required -->
            <small style="color: red; width: 100%;background-color: aliceblue;">
                <%= locals.errors && errors.awards ? errors.awards.msg : null %>
            </small> <br>
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id=""
                    value="<%= (locals.old && old.release_date) && old.release_date  %>"></p><!-- required -->
            <small style="color: red; width: 100%;background-color: aliceblue;">
                <%= locals.errors && errors.release_date ? errors.release_date.msg : null %>
            </small> <br>
            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value="<%= (locals.old && old.length) && old.length  %>"></p>
            <!-- required -->
            <small style="color: red; width: 100%;background-color: aliceblue;">
                <%= locals.errors && errors.length ? errors.length.msg : null %>
            </small> <br>
            <label for="genre_id">Genre </label>
            <p>
                <select name="genre_id" id=""><!-- required -->
                    <option value="" disabled selected>- select genre - </option>
                    <% allGenres.forEach(genre=> { %>
                        <option value="<%= genre.id %>" <%=locals.old && old.genre_id && old.genre_id==genre.id
                            ? 'selected' :'' %>><%= genre.name %>
                        </option>
                        <% }); %>
                </select>
            </p>
            <small style="color: red; width: 100%;background-color: aliceblue;">
                <%= locals.errors && errors.genre_id ? errors.genre_id.msg : null %>
            </small>
            <a href="/genres/add" style="background-color: rgba(6, 252, 26, 0.315); border-radius: 5px;"><small>Agregar
                    Genero +</small></a> <br>
            <label for="actors_id">Actors </label>
            <p>
                <select name="actors_id" id="" multiple style="height: 150px;"><!-- required -->
                    <option value="" disabled selected>- select Actor - </option>
                    <% allActors.forEach(Actor=> { %>
                        <option value="<%= Actor.id %>" <% if (locals.old) { %>
                            <% if (Array.isArray(locals.old.actors_id) &&
                                locals.old.actors_id.includes(Actor.id.toString())) { %>
                                <%= 'selected' %>
                                    <% } else if (!Array.isArray(locals.old.actors_id) &&
                                        locals.old.actors_id==Actor.id) { %>
                                        <%= 'selected' %>
                                            <% } %>
                                                <% } %> >
                                                    <%= Actor.first_name+' '+Actor.last_name %></option>
                    <% }); %>
                </select>
            </p>
            <small style="color: red; width: 100%;background-color: aliceblue;"><%= locals.errors && errors.actors_id ?  errors.actors_id.msg : null %></small> 
            <a href="/actors/add" style="background-color: rgba(73, 177, 90, 0.925); border-radius: 5px;"><small>Agregar Actor +</small></a><br>
            <br>
            <p class="botonera"> <button class="botonAgregar" type="submit">Agregar</button>
            
            </p>
        </form>
        <br>
        <a  class="botonera botonVolver centrado" href="/movies">Volver</a>
    </section>
    
</body>

</html>